



#footer {
   position:fixed;
   left:0px;
   bottom:4px;
   width:100%;
   text-align: center;
}


.modal-dialog {
	color: black;
}

.btn-group {
}


[contenteditable= 'plaintext-only']:focus {
    outline: none;
}

[contenteditable= 'true']:focus {
    outline: none;
}

.btn-secondary{

    background: rgb(200, 200, 200); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(200, 200, 200, .5);

}



#header-size {
	background-color: #808080;
	width: 60px;
	text-align: center;
	border: 0px;
}

#body-size {
	background-color: #808080;
	width: 60px;
	text-align: center;
	border: 0px;
}

.jscolor {
	width: 60px;
	text-align: center;
	color: white !important ;
	border: 0px;
	background-color: #808080 !important;
}


#editor {
	white-space: pre-wrap;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label {
    font-weight: normal !important;
    height: 0px;
}