



#footer {
   position:fixed;
   left:0px;
   bottom:4px;
   width:100%;
   background-color: 'red';
   color: 'red';
   text-align: center;
}


.modal-dialog {
	color: black;
}



[contenteditable= 'plaintext-only']:focus {
    outline: none;
}

#editor {
white-space: pre-wrap;
text-align: left;
margin-left: 10%;
margin-right: 10%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label {
    font-weight: normal !important;
    height: 0px;
}